fastapi
uvicorn

# шаблонизатор
jinja2

# для статики
aiofiles

# для БД
sqlalchemy
psycopg2


# для загрузки переменных из окружения .env
python-dotenv

# для валидации данных
pydantic[email]


# хеширование паролей
passlib[bcrypt]